.auth {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    padding: 15px;

    &__input {
        width: 100%;
    }

    &__btn-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        width: 100px;
    }
}